version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: projeto_sensores
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./BancoDeDados.sql:/docker-entrypoint-initdb.d/BancoDeDados.sql
