version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: meu_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./BancoDeDados.sql:/docker-entrypoint-initdb.d/BancoDeDados.sql
